.App {
  text-align: center;
  font-family: 'Inter';
  background-image:  url('./img/bg-pattern-dark-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-color: hsl(230, 17%, 14%);
}

@media only screen and (min-width: 650px) {
  .App{
    background-image:  url('./img/bg-pattern-dark-web.svg');
  }
}